## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
apps_cutoff_val = 528
application_types_to_replace = []

num_apps_arr = application_df['APPLICATION_TYPE'].value_counts()
index_apps_arr = num_apps_arr.index

for i in range(len(application_df['APPLICATION_TYPE'].value_counts())):
  if num_apps_arr[i] < apps_cutoff_val:
    application_types_to_replace.append(index_apps_arr[i])

application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Get the value counts
value_counts = application_df['CLASSIFICATION'].value_counts()

# Filter to only show counts greater than 1
filtered_value_counts = value_counts[value_counts > 1]
filtered_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff_val = 1000
classifications_to_replace = []

num_class_arr = application_df['CLASSIFICATION'].value_counts()
index_class_arr = num_class_arr.index

for i in range(len(application_df['CLASSIFICATION'].value_counts())):
  if num_class_arr[i] < classification_cutoff_val:
    classifications_to_replace.append(index_class_arr[i])

classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Review the dataframe
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Check the type of each column using `dtypes`
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

The dataframe has seven columns with categorical values. The categorical data must be converted to a numeric value so that it can be fed into the deep learning model.

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
prefixes = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

dummies = pd.get_dummies(application_df, columns=prefixes, prefix=prefixes)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
dummies.dtypes

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

There are no more categorical values in the dataframe. The data can now be split into the training and testing sets for the binary classifier model.

In [15]:
# Split our preprocessed data into our features and target arrays
features = dummies.drop(columns='IS_SUCCESSFUL', axis=1)
target = dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, stratify=target)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
X_train_scaled.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [18]:
# Find the number of columns in the features data
num_cols = features.shape[1]
num_cols

43

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="tanh", input_dim=num_cols))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7225
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7305
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7336
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7336
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7350
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7350
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7355
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7340
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7341
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7347
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7362
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7355
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7375
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7364
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7383
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7388
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7386
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7394
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7393
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7388
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7387
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7387
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7403
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7407
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7403
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7401
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7407
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7409
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7415
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7404
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7406
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7408
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7398
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7417
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7413
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7413
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7418
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7396
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7413
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7415
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7415
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7416
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7414
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7417
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7416
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7410
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7410
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7420
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7417
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7422
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7420
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7418
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7420
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7417
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7419
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7416
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7424
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7415
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7414
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7420
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7423
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7421
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7426
Epoch 81/100

804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7419
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7426
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7424
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7426
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7425
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7422
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7433
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7427
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7422
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7427
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7423
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7426
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7428
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7428

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5584 - accuracy: 0.7259 - 474ms/epoch - 2ms/step
Loss: 0.558369517326355, Accuracy: 0.7259474992752075

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

C:\Users\daian\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(